---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  
  <p>
    I joined <a href="https://www.intel.cn/content/www/cn/zh/homepage.html">Intel</a> as a GCC compiler engineer since July, 2022.
    Prior to that, I gained my M.Eng. degree with Professor <a href="https://xianweiz.github.io/">Xianwei Zhang</a> as my graduate advisor at Sun Yat-sen University.
    My research interest lies in the compiler optimization, hardware and software co-design for GPU and quantum compiler.
  </p>  
  
  <p>
    I received my B.Eng. degree in Software Engineering at South China University of Technology in 2020. Other details can be seen in my <a href="https://mozewei.github.io/assets/mzw_resume.pdf">resume</a>
  </p>

</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>
  {% for paper in site.data.publications.papers %}
  <div class="paper">
      <div class="row">
          <div class="four columns">
              <div class="paper-img">
                  <img src='{{ site.baseurl }}{{ paper.image }}' width="100%">
              </div>
          </div>
          <div class="eight columns">
              <!--               <div class="vertical-center"> -->
              <p class="title"><b>{{ paper.title }}</b></p>
              <p>{{ paper.authors }}</p>
              <p><i>{{ paper.venue }}</i></p>
             
              <div class="paper-buttons">
                {% if paper.paper_pdf %}
                  <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
                {% endif %}
   
                {% if paper.website %}
                  <a class="button" href="{{ paper.website }}" target="_blank">Website</a>
                {% endif %}
   
                {% if paper.code %}
                  <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
                {% endif %}
   
                {% if paper.poster %}
                  <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
                {% endif %}
   
                {% if paper.slide %}
                  <a class="button" href="{{ paper.slide | prepend: site.baseurl }}" target="_blank">Slide</a>
                {% endif %}
   
                {% if paper.video %}
                  <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
                {% endif %}
                
              </div>
              <!--               </div> -->
          </div>
      </div>
  </div>
  {% endfor %}
  <!--    </div>
    </div> -->
</div>
 
<!-- 
<div class="docs-section" id="publications">
  <h4>Publications</h4>
  
  <div class="tab-content">
     {% for paper in site.data.publications.papers %}
        <div class="paper">
        	
           <div class="paper-img">
           	 {% if paper.image %}
           	   <a href="{{ paper.url }}">
           	    <img src="{{ paper.image }}" align="left" border=0 position="absolute" width="300" height="110" hspace=20/>
               </a>
           	 {% endif %}
           </div>
           
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
                     
           <div class="paper-buttons">
             {% if paper.paper_pdf %}
               <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
             {% endif %}

             {% if paper.website %}
               <a class="button" href="{{ paper.website }}" target="_blank">Website</a>
             {% endif %}

             {% if paper.code %}
               <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
             {% endif %}

             {% if paper.poster %}
               <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
             {% endif %}

             {% if paper.slide %}
               <a class="button" href="{{ paper.slide | prepend: site.baseurl }}" target="_blank">Slide</a>
             {% endif %}

             {% if paper.video %}
               <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
             {% endif %}
             
           </div>
        </div>
     {% endfor %}

  </div>
</div> 
-->

<!-- ========== Awards ========== -->
<div class="docs-section" id="awards">
  <h4>Awards</h4>
  
  <p>
  <b>First Class Scholarship</b> Top 5%, Sun Yat-sen University, 2020 <br/>
  <b>Second Class Scholarship</b> Top 10%, South China University of Technology, 2019 <br/>
  </p>

</div>

<!-- ========== MISC ========== -->

<div class="docs-section" id="MISC">
  <h4>MISC</h4>
  
  <p>
  I think I am good at dancing and I might be a famous dancer in the future. Well, at least people living in my downstairs always praise that my steps are firm and full of power when I am playing <a href="https://en.wikipedia.org/wiki/Just_Dance_(video_game_series)">Just Dance</a>. <br/>
    I love watching comedy (especially <a href="https://en.wikipedia.org/wiki/Friends">Friends</a>). If I am not a coder now, I would love to be a comedy actor to entertain people. <br/>
    You can call me Mozart because my chinese name pronounces like that. But I swear, you do not want to hear me singsing, not even once! <br/>
  </p>

</div>

<!--
  <h4>Acknowledgement</h4>
    <p>
      This website design is based on the template from <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>.
    </p>
-->
